<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page - Not Found</title>
    <link rel="icon" type="image/jpeg" href="/public/assets/favicon.jpg">
    <link rel="stylesheet" href="/public/assets/404.autoprefixed.css" type="text/css">
</head>

<body>
    <canvas id="particleCanvas"></canvas>
    <div class="container">
        <div id="message" class="message">
            Oops! The page you're looking for could not be found.
        </div>
        <div id="buttons" class="buttons">
            <button class="go-home-button" onclick="goHome()">Go Home</button>
            <button class="play-game-button" id="playGame" onclick="playGame()">Play Game</button>
        </div>
        <iframe id="gameIframe" src="https://jcw87.github.io/c2-sans-fight/" style="display: none;"
            tabindex="0"></iframe>
    </div>

    <script>
        function goHome() {
            // Redirect to homepage ('/')
            window.location.href = '/';
        }

        function playGame() {
            // Hide the message and buttons, show the game iframe
            document.getElementById('message').style.display = 'none';
            document.getElementById('playGame').style.display = 'none';
            document.getElementById('gameIframe').style.display = 'block';
            document.getElementById('gameIframe').focus();
            document.getElementById('gameIframe').scrollIntoView();
            document.getElementById('particleCanvas').style.display = 'none';
        }
    </script>
    <script src="../public/js/particleBackground.js"></script> <!-- New particle script -->
</body>

</html>