<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BakaServer</title>
    <link rel="icon" type="image/jpeg" href="/public/assets/favicon.jpg">
    <link rel="stylesheet" href="/public/assets/brain.autoprefixed.css" type="text/css" nonce="<%= styleNonce %>">
    <link href="https://fonts.cdnfonts.com/css/long-distance-call" rel="stylesheet" nonce="<%= fontNonce %>">
    <link href="https://fonts.cdnfonts.com/css/licenseplates" rel="stylesheet" nonce="<%= fontNonce %>">
    <link href="https://fonts.cdnfonts.com/css/clubbed-to-life" rel="stylesheet" nonce="<%= fontNonce %>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" 
        nonce="<%= styleNonce %>">
    <link rel="manifest" href="./manifest.json">
</head>

<body class="bg-black">
    <nav id="navbar" class="navbar navbar-dark fixed-top fade-in">
        <div class="container-fluid">
             <h5 class="" id="logo"><a href="/" >BakaServer</a></h5>
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/downloads">Downloads</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/premiumizer">Premiumizer</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link active" href="/brain">Brain</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="logout-button">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <canvas id="particleCanvas"></canvas>
    <iframe id="serverIframe" title="BakaServer" src="https://bakaserver.gleeze.com" autofocus="true" tabindex="0"></iframe>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"
        nonce="<%= scriptNonce %>">
        </script>
    <script src="../public/js/particleBackground.js" nonce="<%= scriptNonce %>"></script> <!-- New particle script -->
    <script src="../public/js/main.js" type="module" nonce="<%= scriptNonce %>"></script>    
    <script src="../public/js/bakaServer.js" nonce="<%= scriptNonce %>"></script>
</body>

</html>