<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Log</title>
    <link rel="icon" type="image/jpeg" href="/assets/favicon.jpg">
    <link href="https://fonts.cdnfonts.com/css/anime-ace" rel="stylesheet">

	<link href="/assets/styles.autoprefixed.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-black bg-gradient">
    <div class="container my-4">
        <h1 class="text-center" id="ipLogHeader">Last 100 Unique Visitors</h1>
        <table class="table table-striped">
            <thead>
                <tr id="table-header">
                    <th scope="col" >IP Address</th>
                    <th scope="col">Location</th>
                    <th scope="col">Timestamp (Eastern)</th>
                </tr>
            </thead>
            <tbody>
                <!-- LOG_ENTRIES -->
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
