body {
  background-color: black;
  color: rgba(219, 42, 42, 0.723);
}

.display-1 {
  color: red;
}

.toast {
  z-index: 1060 !important;
}

#offcanvasNavbar {
  background: rgba(0, 0, 0, 0.477);
}

.navbar-nav {
  font-family: 'Long distance call', sans-serif;
  font-size: 5em;
}

.auth-form-title{
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif !important;
  font-weight: normal;
}

.grecaptcha-badge { 
  visibility: hidden !important;
}

.killua {
  max-width: 50vw;
  max-height: 25vh;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  animation: colorCycle 3s infinite ease-in-out; /* Adding animation */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* @keyframes colorCycle {
  0% {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }
  50% {
    filter: invert(14%) sepia(100%) saturate(7490%) hue-rotate(360deg) brightness(88%) contrast(114%);
  }
  100% {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  }
} */
.active-background {
  color: white !important;
}

.active-background.active {
  background-color: rgb(69, 69, 69) !important;
}

.modal-body {
  max-height: 60vh;
  /* Limit the height of the modal body */
  overflow-y: auto;
  /* Allow vertical scrolling */
  height: 60vh;
}

.modal-dialog {
  width: 70%;
  max-width: 99%;
  /* Ensure modal does not take full width */
  margin: auto;
  /* Center modal */
}

.modal-footer,
.modal-header {
  background-color: rgba(27, 27, 27, 0.911) !important;
}

#link {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}

td {
  max-width: 200px;
  word-wrap: break-word;
}

#torrent-title {
  text-align: left;
}

#debrid {
  font-family: 'Long distance call', sans-serif;
  color: rgba(219, 42, 42, 1);
  /* font-weight: 700; */
  font-size: 8em;
}

#searchInput,
input:-webkit-autofill {
  font-family: 'Anime Ace', sans-serif;
  color: rgb(230, 230, 230);
  font-size: clamp(10px, 1vw, 14px);
  background-color: transparent !important;

}


#loadingSpinner {
  display: block;
}

@media (max-width: 576px) {
  #searchInput {
    font-size: 10px;
    /* Set a fixed font size for small screens */
  }
}

#searchInput:focus {
  border-color: rgb(182, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 4, 4, 0.6);
}

#searchInput::-moz-placeholder {
  opacity: 0.7;
}

#searchInput::placeholder {
  opacity: 0.7;
}

.input-group {
  max-width: 60vw;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Background Particle Canvas */
#particleCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: black;
}

.progress-text {
  display: inline-block;
  max-width: 80px;
  /* Adjust width based on the longest text */
  white-space: nowrap;
  /* Prevent text wrapping */
}

/* Ip Logging */

.log-entry td {
  color: white !important;
  text-align: center !important;
  font-size: 1rem;
  /* Default size for larger screens */
}

/* Adjust font size for smaller screens */
@media (max-width: 768px) {
  .log-entry td {
    font-size: 0.9rem;
    /* Slightly smaller font for tablets */
  }
}

@media (max-width: 480px) {
  .log-entry td {
    font-size: 0.8rem;
    /* Smaller font for mobile phones */
  }
}

#table-header {
  color: white !important;
  text-align: center !important;
}

#ipLogHeader {
  padding: 40px;
  font-family: 'Anime Ace', sans-serif;
  color: white !important;
  text-align: center !important;
}

/* Downloads Page */

#downloadsTableBody {
  text-align: center;
}

#downloads-header {
  color: white !important;
  text-align: center !important;
}

#downloadsBody,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.downloads-container {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}

#downloadsTable {
  color: white;
  border-radius: 8px;
  overflow-y: auto;
}

#downloadsTable th,
#downloadsTable td {
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* Light border to separate cells */
}

#downloadsHeader {
  font-family: 'Long distance call', sans-serif;
  font-size: 8em;
  margin-bottom: 20px;
  color: #9400D3;
  /* Deep purple color */
  /* text-shadow: 0 0 5px #9400D3, 0 0 10px #9400D3, 0 0 20px #9400D3, 
               0 0 40px #FF00FF, 0 0 80px #FF00FF, 0 0 90px #FF00FF, 
               0 0 100px #FF00FF, 0 0 150px #FF00FF; */

}

.downloads-table td {
  background-color: rgba(0, 0, 0, 0.5) !important;
  /* Semi-transparent background */
}

.nav-link.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

#auth-link,
#search-section,
#navbar {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#download-link {
  color: #9400D3;
  /* Deep purple color */
  text-shadow: 0 0 5px #9400D3, 0 0 10px #9400D3, 0 0 20px #9400D3,
    0 0 40px #FF00FF, 0 0 80px #FF00FF, 0 0 90px #FF00FF,
    0 0 100px #FF00FF, 0 0 150px #FF00FF;
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  font-weight: normal;

}

.download-page-img {
  filter: invert(99%) sepia(1%) saturate(20%) hue-rotate(78deg) brightness(105%) contrast(100%) !important;
  max-width: 3vw;
  max-height: 3vh;
  min-width: 30px;
  transition: filter 0.3s ease-in-out; /* Adding transition effect */
  padding: 5px;
  cursor: pointer;
}

.download-page-img:hover {
  filter: invert(60%) sepia(21%) saturate(3765%) hue-rotate(72deg) brightness(88%) contrast(78%) !important;
}
